<div class="row">
  <header>
    <h1>Entities</h1>
  </header>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4" ng-repeat='entity in entities'>
      <h3><a href="#!/entity/{{entity.uuid}}">{{entity.url}}</a></h3>
      <div class="form-group">
        <h5>
          Status: <span class="label label-success">{{entity.status}}</span>
        </h5>
        <h5>
          UUID: <em>{{entity.uuid}}</em>
        </h5>
      </div>
      <div class="form-group player-controls">
        <a class="btn btn-primary btn-xs" href="{{entity.aws_link}}" download="{{entity.aws_link}}" target="_blank">
          <span class="glyphicon glyphicon-download"></span> Download
        </a>
        <a href="#" class="btn btn-danger btn-xs" ng-click="delete(entity)">Destroy</a>
      </div>
    </div>
  </div>
</div>